
/*Page Header*/

header{
  padding-top:3em;
}

img {
  float: left;
  width: 200px;
  padding-right: 1em;
  padding-left: 0em;
  margin-top: -1.7em;
}

h2.companyname {
  font-family:freight micro pro, serif;
  font-size: 1.6em;
  text-transform: uppercase;
  font-weight:bold;
  color: white;
  text-align: left;
  padding-top: .4em;
  padding-left: 5em;
  letter-spacing: 0.04em;
}

h2.associates {
  font-family: optima, sans-serif;
  font-size: 1.4em;
  text-transform: uppercase;
  font-weight: bold;
  color: rgb(103,39,31);
  text-align: left;
  line-height: .8em;
  padding-bottom: 1em;
  margin-top: -0.7em;
}

div.headerbackground {
  height: 103px;
  min-width: 100px;
  margin: 0;
  margin-top: 2.5em;
  background-color: rgb(146,115,80);
}

body {
  margin: 0px;
}


/* Pattern Library Intro*/

.introsentence{
  padding-top: 0em;
  font-family: cambria, serif;
  font-size: 1em;
}

h2{
  font-family: optima, sans-serif;
  text-transform: uppercase;
  color: rgb(103,39,31);
  padding-left: 1em;
}


/* Pattern Categories */

h4{
  font-family: optima, sans-serif;
  text-transform: uppercase;
  padding-top: 1em;
  padding-left: .4em;
  margin-bottom: 0em;
  font-size: 3em;
  color: rgb(103,39,31);
}

.colors{
  box-sizing: border-box;
  padding-left: 1.4em;
}

.bluebox{
  background-color:rgb(57,85,93);
  height:100px;
  width:100px;
  display:inline-block;
}

.brownbox{
  background-color:rgb(103,39,31);
  height:100px;
  width:100px;
  margin-left:8em;
  display: inline-block;
}

.tanbox{
  background-color:rgb(146,115,80);
  height:100px;
  width:100px;
  margin-left:8em;
}

li.cambria{
  font-family: cambria, serif;
  font-size:1em;
}

li.cambriaitalic{
  font-family: cambria, serif;
  font-style: italic;
  font-size:1em;
}

li.optima{
  font-family: optima, sans-serif;
  font-size:1em;
}

li.optimabold{
  font-family: optima, sans-serif;
  font-weight: bold;
  font-size:1em;
}

p{
  padding-left: 1.4em;
}

        .button {
          padding: 1em;
          display: block;
          background-color: rgb(57,85,93);
          color: white;
          text-decoration: none;
          transition: .3s all ease-in-out;
          margin: .5em;
          text-align: center;
          font-family: optima, sans-serif;
          font-weight: bold;
          border-radius: 10px;
          -moz-border-radius: 10px;
          -webkit-border-radius: 10px;
          max-width: 188px;
          border: 5px solid rgb(57,85,93);
          margin-left: 1.6em;
        }

    .button:hover, .button:focus {
      background-color: rgb(41,60,66);
      border: 5px solid rgb(41,60,66);
    }


  a {
    font-family: cambria, serif;
    color: white;
    text-decoration: none;
    line-height: 1.5em;

  }

  div.links {
  float: left;
  width: 33.3%;
  padding-top: 1em;
  padding-bottom: 2em;

  }

  li{
    list-style-type: none;
  }

  .footer {
    background-color:rgb(103,39,31);
    text-align: center;
    margin-top: 1em;
    float: left;
    width: 100%;
    padding: 0;
    margin: 0;
  }
