<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home Page Wireframe</title>
    <meta name="description" content="Page Description Goes Here">
  </head>
  <body>
    <div class= "navbuttons">
    <li class="signinbutton"><a href="signin.html">Sign In</a></li>
    <li class="schedulebutton"><a href="scheduleanappointment.html">Schedule Appointment</a></li>
  </div>

      <header role="banner">
        <a href="#menu" class="menu-link">
            <div class="menu-link__hamburger">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="menu-link__label"></div>
        </a>
          <nav id="menu" role="navigation">
          <ul>
          <li><a href="services.html">Services</a></li>
          <li><a href="askourteam.html">Ask Our Team</a></li>
          <li><a href=".html">About Us</a></li>
          <li><a href=".html">News &amp; Events</a></li>
          <li class="signindrop"><a href="signin.html">Sign In</a></li>
          <li class="scheduledrop"><a href="scheduleanappointment.html">Schedule Appointment</a></li>
          <form action="search.php">
            <input type="search" name="Search"/>
            <input type= "image" src="search.png" width="25" height="25" />


  </ul>
  </form>
        </nav>
      <a href="index.html">
      <img src="williamthomas.svg" alt="William Thomas &amp; Associates Logo"/></a>
      <div class="headerbackground">
      <h1 class= "companyname">William Thomas</h1>
      <h1 class= "associates">&amp; Associates</h1>
    </div>
    </header>



    <main role="main">

      <h1>Our Team</h1>
      <p>Here at William Thomas &amp; Associates our employees are willing to
        fufill all your needs and more. We strive to provide our clients with the
        upmost knowledge and experience on accounting services. A list of our
        employees are provided below, feel free to contact whomever you feel connected to.
      </p>


  <!-- Employee 1 -->
  <img src="william.jpg" class= "employeephoto" alt="Photo of William E Thomas"/>
  <br>
  <h2 class="employeename">William E. Thomas (CPA)</h2>
  <h3 class= "employeetitle">Partner (33 Years)</h3>
  <p class="employeenumber">216-336-6183</p>
<br>

  <!-- Employee 2 -->
  <img src="allen.jpeg" class= "employeephoto" alt="Photo of Allen M Wapnick"/>
  <br>
    <h2 class="employeename">Allen M. Wapnick (CPA)</h2>
    <h3 class= "employeetitle">Partner (51 Years)</h3>
    <p class="employeenumber">216-336-6182</p>
<br>

<!-- Employee 3 -->
  <img src="brian.jpeg" class= "employeephoto" alt="Photo of Brian W Fialko"/>
<br>
<h2 class="employeename">Brian W. Fialko (CPA)</h2>
<h3 class= "employeetitle">Partner (33 Years)</h3>
<p class="employeenumber">216-336-6185</p>
<br>

<!-- Employee 4 -->
    <img src="david.jpg" class= "employeephoto" alt="Photo of David K. Lerner"/>
    <br>
    <h2 class="employeename">David K. Lerner (CPA)</h2>
    <h3 class= "employeetitle">Partner (11 Years)</h3>
    <p class= "employeenumber">216-336-6184</p>
<br>

  <!-- Employee 5 -->
  <img src="michele.jpeg" class= "employeephoto" alt="Photo of Michele Carpenter"/>
    <br>
    <h2 class="employeename">Michele Carpenter (MBA)</h2>
    <h3 class= "employeetitle">Client Service Manager (16 Years)</h3>
    <p class= "employeenumber">216-336-6187</p>


  <section>
    <h1>Contact</h1>
      <form action="something.php"method="get">
        <fieldset>
          <legend class="boxsection"> Your information
          </legend>
          <label class= "fieldtitles">
            Name:
            <input type="text" name="name" size="30" maxlength="100">
          </label>
          <br />
          <label class= "fieldtitles">
            Email:
            <input type="email" name="email" size="30" maxlength="100">
          </label>
          <br />
        </fieldset>
          <br />
        <fieldset>
          <legend class="boxsection">
            Message:
          </legend>
          <p>
            <label class= "fieldtitles" for="services">
            Which service would you like more information about?
          </label>
          <select name="referrer" id="services">
        <option value="taxmanagementservices">Tax Management Services</option>
        <option value="accoutingservices">Accounting Services</option>
        <option value="assuranceandadvisoryservices">Assurance and Advisory Services</option>
        <option value="auditsreviewsandcompilation">Audits, Reviews, and Compilation</option>
        <option value="estateandtrustplanning">Estate and Trust Planning</option>
        <option value="taxpreparation">Tax Preparation</option>
        <option value="quickbooksaccoutinghelp">Quickbooks Accouting Help</option>
        <option value="assistancebookkeeping/writeupentityselection">Assistance Book Keeping/Write Up Entity Selection</option>
        <option value="restructuringirsrepresentationemployeebenefit">Restructuring IRS Representation Employee Benefits</option>
        <option value="pension">Pension</option>
        <option value="profitsharingplans">Profit Sharing Plans</option>
        <option value="cashflowbudgetinganalysis">Cashflow Budgeting Analysis</option>
        <option value="financialprojectionsandforcastdebt">Financial Projections and Forcast Debt</option>
        <option value="financeadvising">Finance Advising</option>
      </select>
    </p>
    <p>
    <label class= "fieldtitles" for="writeyourmessagehere">
      Write your message here
    </label>
    <br />
    <textarea rows="4" cols="40" id="writeyourmessagehere">
  </textarea>
  </p>
  <br>
  <input class="formbutton"type="submit" value="Submit" />
  </fieldset>
    </form>
  </section>

  <section>
    <h1>We Have the Answers</h1>
    <form action="faq.php">
      <p>Type your Question:</p>
    <br>
      <input type="Search" name="Search"
      placeholder="Enter Keyword" />
      <input class="formbutton"type="submit"
        value="Search"/>
    </form>

    </main>

  </section>
  </main>



  <footer role="contentinfo">
    <ul>
  <div class= "links">
    <li><a href=".html">Careers</a></li>
    <li><a href=".html">Site Map</a></li>
  </div>
  <div class= "links">
    <li><a href=".html">Locations</a></li>
    <li><a href=".html">Terms</a></li>
  </div>
  <div class= "links">
    <li><a href=".html">Privacy Notice</a></li>
    <li><a href=".html">IRS Informaiton</a></li>
  </div>
    </ul>
  </footer>

  <link href="style.css" rel="stylesheet" type="text/css" media="screen" />
  <!-- Add your stylesheet here, before the closing HTML tag -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
        <script src="index.js"></script>
</body>
</html>
