<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home Page Wireframe</title>
    <meta name="description" content="Page Description Goes Here">
  </head>
  <header>
    <a href="index.html"><img src="williamthomas.png" alt="William Thomas &amp; Associates Logo"/></a>
      William Thomas &amp; Associates
      <nav>
      <ul>
      <li><a href="services.html">Services</a></li>
      <li><a href="askourteam.html">Ask Our Team</a></li>
      <li><a href=".html">About Us</a></li>
      <li><a href=".html">News &amp; Events</a></li>
      <form action="search.php">Search:
        <input type="search" name="Search"/>
        <input type="submit"
          value="Search"/>
      </form>
      </ul>
    </nav>
      <div>
        <ul>
        <li><a href="signin.html">Sign In</a></li>
        <li><a href="scheduleanappointment.html">Schedule an Appointment</a></li>
        </ul>
      </div>
    </header>

    <main>
      <h1>Our Team</h1>
      <p>Here at William Thomas &amp; Associates our employees are willing to
        fufill all your needs and more. We strive to provide our clients with the
        upmost knowledge and experience on accounting services. A list of our
        employees are provided below, feel free to contact whomever you feel connected to.
      </p>
      <!-- Employee 1 -->
      <h2>William E. Thomas, CPA - Partner</h2>
      <h3>Phone:</h3>
      <p>216-336-6183
      <br>
      <br>
      Our managing Partner, William has been with the firm since 1978 and became partner in 1983. William his wife and two daughters reside on the west side of Cleveland, Ohio.
      <br>
      William is a 1973 graduate of Westlake High School and a 1977 graduate of Wittenberg University. He is a member of the American Institute of Certified Public Accountants as well as the Ohio Society of Certified Public Accountants. William has served on various state committies for the Ohio Society of Certified Public Accountants as well as Local Cleveland committees. He also serves as an advisor to various boards of directors of local Cleveland companies and non profit organizations. Recently William was the President of the Lakewood/Rocky River Rotary club and is currently treasurer of North Coast Heath Ministry; Dover UCC Church in Westlake, Ohio, and Past President for the Lakewood/Rocky River Rotary Foundation. Mr. Thomas  is also a trustee of Deaconess Community Foundation and the Pension Boards of The United church of Christ where he serves on the budget, healthcare and audit committees.
    </p>
    <br>
    <br>
    <h3>Certifications:</h3>
    <p>CPA</p>
    <h3>Education:</h3>
    <p>Wittenburg University</p>
  <!-- Employee 2 -->
    <h2>Allen M. Wapnick, CPA - Partner</h2>
    <h3>Phone:</h3>
    <p>216-336-6182
    <br>
    <br>
    Allen has been with the firm since 1957, and a partner since 1965. He specializes in personal and business tax, accounting services, personal financial planning, and management services He and his wife reside in Beachwood, OH.
    <br>
    Allen is a 1954 graduate of Ohio University with a Bachelor of Science in Business Administration with an accounting major. He served two years in the United States Army with an honorable discharge in 1957. He is a member of The American Institute of Certified Public Accountants, Ohio Society of Certified Public Accountants, and National Society of Public Accountants. He is licensed by the Accountancy Board of Ohio and is a registered tax preparer with the Internal Revenue Service. He is also a member of the YMCA of Cleveland and The Jewish Community Center of Beachwood.
  </p>
  <br>
  <br>
  <h3>Certifications:</h3>
  <p>CPA</p>
  <h3>Education:</h3>
  <p>Ohio University</p>
  <!-- Employee 4 -->
    <h2>David K. Lerner, CPA - Partner</h2>
    <h3>Phone:</h3>
    <p>216-336-6184
    <br>
    <br>
    Our auditing Partner, David has been with the firm since 2002 and became partner in 2005. He currently resides in Pepper Pike with his lovely wife and son.
    <br>
    David performs audits of non-profit entities, employee benefit plans and real estate partnerships (both HUD and LIHTC). Additionally, David represents closely held businesses and high wealth individuals in the areas of accounting, tax, financial management and estate planning.
    <br>
    David is a 1985 graduate of Aurora High School and a 1989 graduate of Miami University of Ohio. He was an audit manager with PricewaterhouseCoopers LLP before joining the firm. He is licensed by the Accountancy Board of Ohio and is a member of the American Institute of CPAs, the Ohio Society of CPAs and the Affordable Housing Association of CPAs.
  </p>
  <br>
  <br>
  <h3>Certifications:</h3>
  <p>CPA</p>
  <h3>Education:</h3>
  <p>Miami University</p>
  <!-- Employee 5 -->
    <h2>Michele Carpenter - Client Service Manager</h2>
    <h3>Phone:</h3>
    <p>216-336-6187
    <br>
    <br>
    Michele Carpenter has been a Client Service Manager for the firm since 2000. She currently resides in Concord with her family; Chris, Brianna and Brittney.
    <br>
    Michele was an intern for William THomas for the 1999 tax season and was hired on full time after she graduated from John Carroll University in 2000 with her BA in business. Michele returned to John Carroll and completed her MBA in 2010. Michele is a member of the Ohio Society of Public Accountants and served as treasurer for the Chestnut Elementary School PTA for three years where she received a continued service award. She is currently the treasurer for Courtside Club, the parent athletic booster club for the Riverside girls basketball team.
  </p>
  <br>
  <br>
  <h3>Certifications:</h3>
  <p>MBA</p>
  <h3>Education:</h3>
  <p>John Carroll University</p>

  <section>
    <h2>Contact</h2>
      <form action="something.php"method="get">
        <fieldset>
          <legend>
            Your information
          </legend>
          <label>
            Name:
            <input type="text" name="name" size="30" maxlength="100">
          </label>
          <br />
          <label>
            Email:
            <input type="email" name="email" size="30" maxlength="100">
          </label>
          <br />
        </fieldset>
          <br />
        <fieldset>
          <legend>
            Message:
          </legend>
          <p>
            <label for="services">
            Which service would you like more information about?
          </label>
          <select name="referrer" id="services">
        <option value="taxmanagementservices">Tax Management Services</option>
        <option value="accoutingservices">Accounting Services</option>
        <option value="assuranceandadvisoryservices">Assurance and Advisory Services</option>
        <option value="auditsreviewsandcompilation">Audits, Reviews, and Compilation</option>
        <option value="estateandtrustplanning">Estate and Trust Planning</option>
        <option value="taxpreparation">Tax Preparation</option>
        <option value="quickbooksaccoutinghelp">Quickbooks Accouting Help</option>
        <option value="assistancebookkeeping/writeupentityselection">Assistance Book Keeping/Write Up Entity Selection</option>
        <option value="restructuringirsrepresentationemployeebenefit">Restructuring IRS Representation Employee Benefits</option>
        <option value="pension">Pension</option>
        <option value="profitsharingplans">Profit Sharing Plans</option>
        <option value="cashflowbudgetinganalysis">Cashflow Budgeting Analysis</option>
        <option value="financialprojectionsandforcastdebt">Financial Projections and Forcast Debt</option>
        <option value="financeadvising">Finance Advising</option>
      </select>
    </p>
    <p>
    <label for="writeyourmessagehere">
      Write your message here
    </label>
    <br />
    <textarea rows="4" cols="40" id="writeyourmessagehere">
  </textarea>
  </p>
  <br>
  <input type="submit" value="Submit" />
  </fieldset>
    </form>
  </section>

  <section>
    <h2>We Have the Answers</h2>
    <form action="faq.php">
      <p>Type your Question:</p>
    <br>
      <input type="Search" name="Search"
      placeholder="Enter Keyword" />
      <input type="submit"
        value="Search"/>
    </form>

    </main>

    <footer>
      <ul>
      <li><a href=".html">Careers</a></li>
      <li><a href=".html">Site Map</a></li>
      <li><a href=".html">Locations</a></li>
      <li><a href=".html">Terms</a></li>
      <li><a href=".html">Privacy Notice</a></li>
      <li><a href=".html">IRS Informaiton</a></li>
      </ul>
    </footer>

  <link href="style.css" rel="stylesheet" type="text/css" media="screen" /> <!-- Add your stylesheet here, before the closing HTML tag -->
</body>
</html>
