<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home Page Wireframe</title>
    <meta name="description" content="Page Description Goes Here">
  </head>
  <body>
      <header>
        <a href="index.html"><img src="williamthomas.png" alt="William Thomas &amp; Associates Logo"/></a>
      William Thomas &amp; Associates
      <nav>
      <ul>
      <li><a href="services.html">Services</a></li>
      <li><a href="askourteam.html">Ask Our Team</a></li>
      <li><a href=".html">About Us</a></li>
      <li><a href=".html">News &amp; Events</a></li>
      <form action="search.php">Search:
        <input type="search" name="Search"/>
        <input type="submit"
          value="Search"/>
      </form>
      </ul>
    </nav>

      <div>
        <ul>
        <li><a href="signin.html">Sign In</a></li>
        <li><a href="scheduleanappointment.html">Schedule an Appointment</a></li>
        </ul>
      </div>
    </header>

      <main>
        <p>William Thomas &amp; Associates is a full-service accounting firm
          servingclients throughout the area, dedicated to providing our clients
          with professional, personalized services and guidance in a wide range
          of financial and business needs. Today, more than ever, you need
           advisors who go beyond the basics. The team at William Thomas &amp;
           Associates take pride in the work we do for our clients to develop
           strong business strategies and explore creative ideas that will
           provide long-term benefits for your financial future. We strive to
           minimize your current and future tax liabilities, and serve as your
           guide through the necessary steps to help you grow your business and
           personal net worth. We encourage regular interaction between our team
            members and our most important asset - our clients!
            <br>
            <br>
            On this website, you will find information about William Thomas
            &amp; Associates, including our <a href=".html">list of services</a>. We have also provided you with online resources
            to assist in the tax process and financial decision-making. These tools include
            downloadable tax forms and publications, financial calculators, news and links
            to other useful sites. <a href=".html">Check out our news page</a> and feel free to subscribe to our
            monthly newsletter.  Whether you are an individual or business in the Greater
            Cleveland area, William Thomas &amp; Associates has years of valuable experience
            assisting professionals with their accounting needs.
            <br>
            <br>
            <a href=".html">Contact us</a> today to see how we can help you build your net worth and assure your
            financial future.
            <br>
            <br>
            <section>
            <form action="signup.php">Subscribe to our Tax Update newsletter for tax tips, legistration alerts and
            personal finance posts from our experts by entering your email below.
            <br>
              <input type="text" name="Email"/>
              <input type="submit" name="Subscribe"
                value="Subscribe"/>
            </form>
          </p>
        </section>
        </main>

        <footer>
          <ul>
          <li><a href=".html">Careers</a></li>
          <li><a href=".html">Site Map</a></li>
          <li><a href=".html">Locations</a></li>
          <li><a href=".html">Terms</a></li>
          <li><a href=".html">Privacy Notice</a></li>
          <li><a href=".html">IRS Informaiton</a></li>
          </ul>
        </footer>

      <link href="style.css" rel="stylesheet" type="text/css" media="screen" /> <!-- Add your stylesheet here, before the closing HTML tag -->
  </body>
</html>
