<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home Page Wireframe</title>
    <meta name="description" content="Page Description Goes Here">
  </head>
  <body>
      <header role="banner">
        <a href="#menu" class="menu-link">
            <div class="menu-link__hamburger">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="menu-link__label"></div>
        </a>
          <nav id="menu" role="navigation">
          <ul>
          <li><a href="services.html">Services</a></li>
          <li><a href="askourteam.html">Ask Our Team</a></li>
          <li><a href=".html">About Us</a></li>
          <li><a href=".html">News &amp; Events</a></li>
          <li class= "signinbutton"><a href="signin.html">Sign In</a></li>
          <li class= "schedulebutton"><a href="scheduleanappointment.html">Schedule Appointment</a></li>
          <form action="search.php">
            <input type="search" name="Search"/>
            <input type= "image" src="search.png" width="25" height="25" />


  </ul>
  </form>
        </nav>
      <a href="index.html">
      <img src="williamthomas.svg" alt="William Thomas &amp; Associates Logo"/></a>
      <div class="headerbackground">
      <h1 class= "companyname">William Thomas</h1>
      <h1 class= "associates">&amp; Associates</h1>
    </div>
    </header>
</br>
</br>
      <main>
      <main role="main">
        <h1> Who We Are</h1>
        <p>William Thomas &amp; Associates is a full-service accounting firm
          serving clients throughout the area, dedicated to providing our clients
          with professional, personalized services and guidance in a wide range
          of financial and business needs. Today, more than ever, you need
           advisors who go beyond the basics. The team at William Thomas &amp;
           Associates take pride in the work we do for our clients to develop
           strong business strategies and explore creative ideas that will
           provide long-term benefits for your financial future.</p>

            <div class= "mobile buttons">
            <a href="services.html" class="button">Services</a>
            <p class= "buttontext">On this website, you will find information about William Thomas
            &amp; Associates, including a list of our services. We have also provided you with online resources
            to assist in the tax process and financial decision-making. These tools include
            downloadable tax forms and publications, financial calculators, news and links
            to other useful sites.</p>

            <a href="askourteam.html" class="button">Contact Us</a>
            <p class= "buttontext"> Contact Us today to see how we can help you build your net worth and assure your
            financial future.</p>

            <a href=".html" class="button">Newsletter</a>
            <p class="buttontext">Subscribe to our Tax Update newsletter for tax tips, legistration alerts and
            personal finance posts from our experts by entering your email below.</p>
          </div>

        </main>

        <footer role="contentinfo">
          <ul>
        <div class= "links">
          <li><a href=".html">Careers</a></li>
          <li><a href=".html">Site Map</a></li>
        </div>
        <div class= "links">
          <li><a href=".html">Locations</a></li>
          <li><a href=".html">Terms</a></li>
        </div>
        <div class= "links">
          <li><a href=".html">Privacy Notice</a></li>
          <li><a href=".html">IRS Informaiton</a></li>
        </div>
          </ul>
        </footer>

      <link href="style.css" rel="stylesheet" type="text/css" media="screen" />
      <!-- Add your stylesheet here, before the closing HTML tag -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
      <script src="index.js"></script>

  </body>
</html>
