<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home Page Wireframe</title>
    <meta name="description" content="Page Description Goes Here">
  </head>
  <header>
    <a href="index.html"><img src="williamthomas.png" alt="William Thomas &amp; Associates Logo"/></a>
      William Thomas &amp; Associates
      <nav>
      <ul>
      <li><a href="services.html">Services</a></li>
      <li><a href="askourteam.html">Ask Our Team</a></li>
      <li><a href=".html">About Us</a></li>
      <li><a href=".html">News &amp; Events</a></li>
      <form action="search.php">Search:
        <input type="search" name="Search"/>
        <input type="submit"
          value="Search"/>
      </form>
      </ul>
      </nav>
      <div>
        <ul>
        <li><a href="signin.html">Sign In</a></li>
        <li><a href="scheduleanappointment.html">Schedule an Appointment</a></li>
        </ul>
      </div>
    </header>

    <main>
      <h1>Our Services</h1>
      <p>William Thomas &amp; Associates provides a wide range of services to
        individuals and businesses in a variety of industries. At William Thomas,
        we strive to meet each client's specific needs in planning for the future
        and achieving their goals in an ever-changing financial and regulatory
        environment.
      </p>

      <div>
        <ul>
        <li><a href="estateplanning.html">Estate Planning</a></li>
        <li><a href="investmentplanning.html">Investment Planning</a></li>
        <li><a href="personalaccounting.html">Personal Accounting</a></li>
        <li><a href="retirementplanning.html">Retirement Planning</a></li>
        <li><a href="smallbusinessaccounting.html">Small Business Accounting</a></li>
        </ul>
    </div>

    <section>
      <h2>Personal Accounting</h2>
      <h3>Debt and Finance Advising</h3>
      <p>Whether your needs are corporate or personal, Baumgarten &amp; Company
        LLP's professionals can assist you in sorting out the different options
        available for debt management and financing that will lower your payments
        and/or reduce the total amount of interest paid. Re-balancing your debts
        can also result in tax deduction savings. Even if you are able to handle
        the payments and the amounts of your current debts, our expertise may be
        able to save you money and/or lower your payments.
      <h3>IRS Representaiton</h3>
      <p>Professional representation can be vital during an audit, and our experience
        with tax authorities enables us to guide clients in their dealings with
        federal and state agencies. If you have been chosen for an audit, the
        professional representation you can find with our firm can put many of
        your worries at bay. We are ready and willing to answer any and all questions
        the IRS may be asking of you.
      </p>
      <h3>Accoutning Services</h3>
      <p>From start-ups to established enterprises, businesses rely on accurate
        and insightful financial information in order to maintain profitability
        and capitalize on new opportunities. Baumgarten &amp; Company LLP's accounting
        services steer you closer to these goals with accurate record-keeping and
        reporting as well as support on financial issues such as initial accounting
        system setup, cost-containment, tax planning, investments, and employee
        benefit and profit-sharing plans.
      </p>
      <h4>These services include but are not limited to:</h4>
      <ul>
        <li>General ledger and financial statement preparation</li>
        <li>Bookkeeping (Monthly, quarterly, or annual)</li>
        <li>Accounting system setup and support</li>
        <li>Payroll processing</li>
        <li>Cash flow budgeting and forecasting</li>
        <li>Personal financial statements</li>
        <li>Employee benefit and profit-sharing plans</li>
        <li>Corporate tax planning and return preparation</li>
        <li>Litigation support</li>
      </ul>
    </section>
    </main>

    <footer>
      <ul>
      <li><a href=".html">Careers</a></li>
      <li><a href=".html">Site Map</a></li>
      <li><a href=".html">Locations</a></li>
      <li><a href=".html">Terms</a></li>
      <li><a href=".html">Privacy Notice</a></li>
      <li><a href=".html">IRS Informaiton</a></li>
      </ul>
    </footer>

  <link href="style.css" rel="stylesheet" type="text/css" media="screen" /> <!-- Add your stylesheet here, before the closing HTML tag -->
</body>
</html>
