
header{
  padding-top:2em;
}

img {
  float: left;
  width: 200px;
  padding-right: 1em;
  padding-left: 0em;
  margin-top: -1.7em;
  position: relative;
<<<<<<< HEAD

=======
>>>>>>> origin/gh-pages
}


h1.companyname {
  font-family:freight micro pro, serif;
  font-size: 1.6em;
  text-transform: uppercase;
  font-weight:bold;
  color: white;
  text-align: left;
  padding-top: .4em;
  padding-left: 5em;
  letter-spacing: 0.04em;
}

h1.associates {
  font-family: optima, sans-serif;
  font-size: 1.4em;
  text-transform: uppercase;
  font-weight: bold;
  color: rgb(103,39,31);
  text-align: left;
<<<<<<< HEAD
  line-height: .1;

=======
  line-height: .2em;
  padding-bottom: 1em;
  margin-top: -0.7em;
>>>>>>> origin/gh-pages
}

div.headerbackground {
  height: 101px;
  min-width: 100px;
  margin: 0;
  margin-top: 2.5em;
  background-color: rgb(146,115,80);
}

h1{
font-size: 2.5em;
font-family: optima, sans-serif;
font-weight: bold;
color: rgb(103,39,31);
text-align: left;
<<<<<<< HEAD
padding-top: .5em;
=======
padding-top:.5em;
>>>>>>> origin/gh-pages
}

h2{
  font-size: 1.6em;
  font-family: cambria, serif;
  font-weight: bold;
  color: rgb(57,85,93);
}

h3{
  font-size: 1.3em;
  font-family: cambria, serif;
  font-weight: lighter;
  font-style: italic;
  color: rgb(57,85,93);
}

h4 {
  color: rgb(103,39,31);
  font-family: cambria, serif;
  font-weight: lighter;
  font-size: 1em;
}

nav {
  font-family: optima, sans-serif;
  font-size: 0.9em;
  font-weight: bold;
  color: white;
<<<<<<< HEAD
  text-align: left;

=======
  text-align: center;
  margin-top: .3em;
>>>>>>> origin/gh-pages
}

a{
  color: white;
<<<<<<< HEAD
  font-family: optima, sans-serif;

=======
    text-decoration: none;
}

a:hover {
  color: rgb(198,168,140);
>>>>>>> origin/gh-pages
}

form{
  padding-left: .8em;
  padding-bottom: .9em;
}

main{
  padding-left: 1em;
}
body{
  margin: 0;
}
p {
  font-family: cambria, serif;
  font-size: 1em;
}

.mobilebuttons {
  text-align: center;

}
.extraservices {
  visibility: hidden;
  font-size: 1em;
}

.servicesextratext {
  visibility: hidden;
}

.categoryheadings {
  visibility: hidden;
}



/* accordion style */

.learnmore {
  color: rgb(57,85,93);
  padding-left: 1.5em;
  font-style: italic;
  font-family: optima, sans-serif;
}

.categoryheadings {
  display: none;
}

.categoryextra {
  display: none;
}

.accordion {
<<<<<<< HEAD
    padding:-1em;
    width: 90%
=======
    margin:0 auto;
    padding:0;
    width: 100%
    padding-left: -1em;
>>>>>>> origin/gh-pages
}

.accordion li {
    list-style:none;
    width:100%;
<<<<<<< HEAD
        padding:-1em;
    }


.accordion li label {
    padding:10px;
    display:block;
    background-color: rgb(103,39,31);
    color: white;
    text-align: center;
    font-family: cambria, serif;
    cursor: pointer;
    border: 1px solid white;
    width: 100%;
    }
=======

    }


  .accordion li label {
        padding:10px;
        display:block;
        background-color: maroon
        ;
        color: white;
        cursor: pointer;
        border: 1px solid white;
        }

>>>>>>> origin/gh-pages

/* Hide the radio buttons */
.accordion label + input[type='radio'] {
    display: none;
}

/* hide content by default */
.accordion .content {
  max-height: 0;
    overflow: hidden;
    display: block;
    transition: none;
}

.accordion label + input[type='radio']:checked + .content {
    max-height: 50em;
    padding:.5em;
    overflow: visible;
    transition: .7s max-height ease;
}

ul {
  list-style-type: none;
}


footer a {
  font-family: cambria, serif;
  color: white;
  text-decoration: none;
  line-height: 1.5em;

}
footer ul{
  padding: 0;
  margin: 0;
}

div.links {
float: left;
width: 33.3%;
padding-top: 1em;
padding-bottom: 2em;
background-color: rgb(103,39,31);

}

footer {
  background-color:rgb(103,39,31);
  text-align: center;
<<<<<<< HEAD
margin-left: -2em;
margin-right: -1em;
  margin-top: 2em;
  min-width: 100px;
=======
  margin-top: 2em;
  margin-left: -2em;
  margin-right: -0.1em;
<<<<<<< HEAD
}
=======
>>>>>>> origin/gh-pages
>>>>>>> origin/gh-pages


/* Adds Code for Pure CSS Hamburger Button */
a.menu-link {
        float: right;
            display: block;
            padding: 1em;
            width: 125px;
            position: relative;
            z-index: 100;

        }

.menu-link__hamburger {
    margin: -10px auto;
    text-align: center;
    width: 33px;
    float: right;
    transform: translate(0,0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

.menu-link__label {
    float: left;
    padding-left: .75em;
}

a.menu-link span {
  display: block;
  height: 5px;
  margin-bottom: 5px;
  position: relative;
  background: rgb(103,39,31);
  border-radius: 3px; /* Adjust the rounding of the hamburger here */
  z-index: 0;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

a.menu-link span:first-child {
  transform-origin: 0% 0%;
}


a.menu-link span:nth-child(3) {
  transform-origin: 0% 100%;
}

.menu-link.active .menu-link__hamburger {
    transform: translate(10px, 0);
}

.menu-link.active span {
  opacity: 1;
    background: rgb(103,39,31);
  transform: rotate(45deg) translate(-2px, -1px);
}

.menu-link.active span:nth-child(2) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

.menu-link.active span:nth-child(3){
  opacity: 1;
  transform: rotate(-45deg) translate(0, -1px);
}

nav[role=navigation] {
            clear: both;
            -webkit-transition: all 0.3s ease-out;
            -moz-transition: all 0.3s ease-out;
            -ms-transition: all 0.3s ease-out;
            -o-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
        }
        .js nav[role=navigation] {
            overflow: hidden;
            max-height: 0;
            position: absolute;
            width: 100%;
            top:188px;
        }
        nav[role=navigation].active {
            max-height: 20em;
        }
        nav[role=navigation] ul {
            margin: 0;
            padding: 0;
            border-top: 1px solid rgb(103,39,31);
            background-color: rgb(103,39,31);
        }
        nav[role=navigation] li a {
            display: block;
            padding: 0.8em;
<<<<<<< HEAD
            border-bottom: 1px solid white;
        }
=======
            border-bottom: 1px solid rgb(198,168,140);
>>>>>>> origin/gh-pages

        }



  /* Content Text */
div.buttons{
  text-align:center;
}
        .button {
          padding: 1em;
          display: inline-block;
          background-color: rgb(57,85,93);
          color: white;
          text-decoration: none;
          transition: .3s background color ease-in-out;
          width: 30%;
          margin: .5em;
          text-align: center;
          font-family: optima, sans-serif;
          font-weight: bold;
          border-radius: 10px;
          -moz-border-radius: 10px;
          -webkit-border-radius: 10px;
          max-width: 200px;
          border: 5px solid rgb(57,85,93);
          margin-right: 3em;
        }

    .button:hover, .button:focus {
      background-color: rgb(57,85,93)
    }

      .buttontext {
        display: none;
      }




/*Media Queries*/


@media screen and (min-width: 800px) {
    a.menu-link {
       display: none;
    }
    .js nav[role=navigation] {
        max-height: none;
    }
    nav[role=navigation] ul {
        margin: 0 0 0 -0.25em;
        border: 0;
        background-color: rgb(146,115,80);
    }

    nav[role=navigation]  li {
        display: inline-block;
        margin: 0 0.25em;
    }
    nav[role=navigation] li a {
        border: 0;
    }

    nav {
      text-align: right;
      margin-top: -2em;
    }

    .signinbutton {
      padding: 1em;
      display: inline-block;
      background-color: rgb(57,85,93);
      color: white;
      text-decoration: none;
      transition: .3s background color ease-in-out;
      width: 30%;
      text-align: center;
      font-family: optima, sans-serif;
      font-weight: bold;
      border-radius: 10px;
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      max-width: 180px;
      max-height: 10px;
      border: 5px solid rgb(57,85,93);
    }

    .schedulebutton {
      padding: 1em;
      display: inline-block;
      background-color: rgb(57,85,93);
      color: white;
      text-decoration: none;
      transition: .3s background color ease-in-out;
      width: 30%;
      text-align: center;
      font-family: optima, sans-serif;
      font-weight: bold;
      border-radius: 10px;
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      max-width: 180px;
      max-height: 10px;
      border: 5px solid rgb(57,85,93);
      float: right;
    }

    div.headerbackground {
      background-color: white;
    }

    h1.companyname {
        color: rgb(103,39,31)}

    h1.associates {
      color: rgb(146,115,80)}
    }



    }
