
header{
  padding-top:3em;
}

img {
  float: left;
  width: 200px;
  padding-right: 1em;
  padding-left: 0em;
  margin-top: -1.7em;

}


h1.companyname {
  background-color: rgb(146,115,80);
  font-family:freight micro pro, serif;
  font-size: 1.6em;
  text-transform: uppercase;
  font-weight:bold;
  color: white;
  text-align: left;
  padding-top: .5em;
  padding-left: 5em;
  letter-spacing: 0.03em;



}

h1.associates {
  background-color: rgb(146,115,80);
  font-family: optima, sans-serif;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  color: rgb(103,39,31);
  text-align: left;
  line-height: .1;
}

div.headerbackground {
  height: 100px;
  min-width: 100px;
  margin: 0;
  margin-top: 2.5em;
  background-color: rgb(146,115,80);
}

h1{
font-size: 2.5em;
font-family: optima, sans-serif;
font-weight: bold;
color: rgb(103,39,31);
text-align: left;
}

h2{
  font-size: 1.6em;
  font-family: cambria, serif;
  font-weight: bold;
  color: rgb(57,85,93);
}

h3{
  font-size: 1.3em;
  font-family: cambria, serif;
  font-weight: lighter;
  font-style: italic;
  color: rgb(57,85,93);
}

h4 {
  color: rgb(103,39,31);
  font-family: cambria, serif;
  font-weight: lighter;
  font-size: 1em;
}

nav {
  font-family: optima, sans-serif;
  font-weight: bold;
  color: white;
  text-align: right;
}

a{
  color: white;
    text-decoration: none;
}

a:hover {
  color: rgb(146,115,80);
}

form{
  padding-left: .8em;
}


main{
  padding-left: 1em;
}
body{
  margin: 0;
}
p {
  font-family: cambria, serif;
  font-size: 1em;
}

.mobilebuttons {
  text-align: center;
}
.extraservices {
  visibility: hidden;
  font-size: 1em;
}

.servicesextratext {
  visibility: hidden;
}

.categoryheadings {
  visibility: hidden;
}
/* accordion style */
.accordion {
    margin:0 auto;
    padding:0;
    width: 90%
}

.accordion li {
    list-style:none;
    width:100%;
    }


  .accordion li label {
        padding:10px;
        display:block;
        background-color: red;
        color: white;
        cursor: pointer;
        border: 1px solid white;
        }

.accordion li label {
    padding:10px;
    display:block;
    background-color: black;
    color: white;
    cursor: pointer;
    border: 1px solid white;
    }

/* Hide the radio buttons */
.accordion label + input[type='radio'] {
    display: none;
}

/* hide content by default */
.accordion .content {
  max-height: 0;
    overflow: hidden;
    display: block;
    transition: none;
}

.accordion label + input[type='radio']:checked + .content {
    max-height: 50em;
    padding:.5em;
    overflow: visible;
    transition: .7s max-height ease;
}

ul {
  list-style-type: none;
}


footer a {
  font-family: cambria, serif;
  color: white;
  text-decoration: none;

}
footer ul{
  padding: 0;
  margin: 0;
}

div.links {
float: left;
width: 33.3%;
padding-top: 1em;
padding-bottom: 2em;
background-color: rgb(103,39,31);

}

footer {
  background-color:rgb(103,39,31);
  text-align: center;
  margin-top: 2em;

}
/* Adds Code for Pure CSS Hamburger Button */
a.menu-link {
        float: right;
            display: block;
            padding: 1em;
            width: 125px;
            position: relative;
            z-index: 100;

        }

.menu-link__hamburger {
    margin: -10px auto;
    text-align: center;
    width: 33px;
    float: right;
    transform: translate(0,0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

.menu-link__label {
    float: left;
    padding-left: .75em;
}

a.menu-link span {
  display: block;
  height: 5px;
  margin-bottom: 5px;
  position: relative;
  background: rgb(103,39,31);
  border-radius: 3px; /* Adjust the rounding of the hamburger here */
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

a.menu-link span:first-child {
  transform-origin: 0% 0%;
}


a.menu-link span:nth-child(3) {
  transform-origin: 0% 100%;
}

.menu-link.active .menu-link__hamburger {
    transform: translate(10px, 0);
}

.menu-link.active span {
  opacity: 1;
    background: black;
  transform: rotate(45deg) translate(-2px, -1px);
}

.menu-link.active span:nth-child(2) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

.menu-link.active span:nth-child(3){
  opacity: 1;
  transform: rotate(-45deg) translate(0, -1px);
}

nav[role=navigation] {
            clear: both;
            -webkit-transition: all 0.3s ease-out;
            -moz-transition: all 0.3s ease-out;
            -ms-transition: all 0.3s ease-out;
            -o-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
        }
        .js nav[role=navigation] {
            overflow: hidden;
            max-height: 0;
            position: absolute;
            width: 100%;
            top:188px;
        }
        nav[role=navigation].active {
            max-height: 20em;
        }
        nav[role=navigation] ul {
            margin: 0;
            padding: 0;
            border-top: 1px solid rgb(103,39,31);
            background-color: rgb(103,39,31);
        }
        nav[role=navigation] li a {
            display: block;
            padding: 0.8em;
            border-bottom: 1px solid rgb(103,39,31);
        }

        @media screen and (min-width:800px) {
            a.menu-link {
               display: none;
            }
            .js nav[role=navigation] {
                max-height: none;
            }
            nav[role=navigation] ul {
                margin: 0 0 0 -0.25em;
                border: 0;
            }

            nav[role=navigation]  li {
                display: inline-block;
                margin: 0 0.25em;
            }
            nav[role=navigation] li a {
                border: 0;
            }
        }

  /* Content Text */
div.buttons{
  text-align:center;
}
        .button {
          padding: 1em;
          display: inline-block;
          background-color: rgb(57,85,93);
          color: white;
          text-decoration: none;
          transition: .3s background color ease-in-out;
          width: 30%;
          margin: .5em;
          text-align: center;
          font-family: optima, sans-serif;
          font-weight: bold;
          border-radius: 10px;
          -moz-border-radius: 10px;
          -webkit-border-radius: 10px;
          max-width: 200px;
          border: 5px solid rgb(57,85,93);
        }

    .button:hover, .button:focus {
      background-color: rgb(57,85,93)
    }

      .buttontext {
        display: none;
      }
